/* Base Application Styles */
html,body {
  width: 100%;
  height: 100%;
  background-color: #222;
}
.content {
  width: 100%;
  height: 100%;
}
/*----stage ---start-----*/
  .stage {
    position: relative;
    width: 100%;
    height: 680px;
  }

/*----stage ---end-----*/




/*----image ---start-----*/
  .image-sec {
    position: relative;
    perspective: 1800px;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: #ddd;
  }
  .img-figure {
    width: 320px;
    height: 360px;
    margin: 0;
    padding: 40px;
    cursor: pointer;
    box-sizing: border-box;
    background-color: #fff;
    position: absolute;
    transform-origin: 0 50% 0;
    transform-style: preserve-3d;
    transition: transform 0.6s ease-in-out, left 0.6s ease-in-out, top .6s ease-in-out;
  }
  .is-inverse {
    transform: translate(320px) rotateY(180deg);
  }
  .img-back {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    padding: 30px;
    box-sizing: border-box;
    text-align: center;
    color: #666;
    transform: rotateY(180deg) translateZ(1px);
    backface-visibility:hidden;

    background: #fff;
  }
  figcaption {
    text-align: center;
  }
  .img-title {
    margin: 20px 0 0 0;

    color: #a7a0a2;
    font-size: 16px;
  }

/*----image ---end-----*/


/*----controller ---start-----*/
  .controller-nav {
    position: absolute;
    left: 0;
    bottom: 30px;
    z-index: 101;
    width: 100%;
    text-align: center;
  }
/*----controller ---end-----*/
