/* Base Application Styles */
html,body {
  width: 100%;
  height: 100%;
  background-color: #222;
}
.content {
  width: 100%;
  height: 100%;
}
/*----stage ---start-----*/
  .stage {
    position: relative;
    width: 100%;
    height: 680px;
  }

/*----stage ---end-----*/




/*----image ---start-----*/
  .image-sec {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: #ddd;
  }
  .img-figure {
    width: 320px;
    height: 360px;
    margin: 0;
    padding: 40px;
    box-sizing: border-box;
    background-color: #fff;
    position: absolute;
  }
  figcaption {
    text-align: center;
  }
  .img-title {
    margin: 20px 0 0 0;

    color: #a7a0a2;
    font-size: 16px;
  }
/*----image ---end-----*/


/*----controller ---start-----*/
  .controller-nav {
    position: absolute;
    left: 0;
    bottom: 30px;
    z-index: 101;
    width: 100%;
    text-align: center;
  }
/*----controller ---end-----*/
